@font-face { font-family: 'fira-sans-regular'; src: url('fonts/FiraSans-Regular.ttf') format('truetype'); }
@font-face { font-family: 'fira-sans-medium'; src: url('fonts/FiraSans-Medium.ttf') format('truetype'); }
@font-face { font-family: 'fira-sans-light'; src: url('fonts/FiraSans-Light.ttf'); }

/* General */

body {
    font-family: fira-sans-regular;
}

a:focus, a:hover {
    text-decoration: none;
}

/* Header */

.topbar {
    position: fixed;
    top: 0;
    min-width: 100%;
    background-color: #AB58C2;
    text-transform: uppercase;
    font-size: 10px;
    font-family: fira-sans-medium;
    height: 76px;
    border-radius: 0;
    box-shadow: 0 5px 5px 0px #d0d0d0;
}

.topbar a {
    color: white;
}

.topbar button {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 20px;
}

.navbar-header {
    height: 100%;
    display: inline-block;
    margin-left: 14%;
}

.navbar-header a {
    -webkit-transition: color .6s;
    transition: color .6s;
    color: white;
}

.navbar-header a:hover {
    -webkit-transition: color .3s;
    transition: color .3s;
    color: black;
}

.navbar-header a:focus {
    -webkit-transition: color .9s;
    transition: color .9s;
    color: white;
}

.navbar-header a:active:focus, .navbar-header a:hover:focus {
    -webkit-transition: color .8s;
    transition: color .8s;
    color: black;
}

.navbar-brand {
    padding: 0;
    height: 100%;
    font-size: 34px;
    line-height: 40px;
}

.navbar-brand>.logo {
    display: inline-block;
    padding: 18px 15px;
}

.navbar-brand>.title {
    display: inline;
}

.logo img {
    width: 40px;
    height: 40px;
}

.navbar-navigation {
    float: right;
    margin-right: 100px;
}

.navbar-navigation li {
    height: inherit;
}

.navbar-navigation li a {
    -webkit-transition: color .6s, background-color .1s;
    transition: color .6s, background-color .1s;
    border: none;
    border-radius: 0;
    height: inherit;
    padding: 23px 15px 7px 15px;
    margin-bottom: 22px;
    background-color: #AB58C2;
    line-height: 24px;
}

.navbar-navigation li a:hover, .dropdown-menu li a:hover {
    -webkit-transition: color .6s, background-color .8s;
    transition: color .3s, background-color .8s;
    outline: 0;
    color: black;
    background-color: #AB58C2;
}

.navbar-navigation li a:focus, .navbar-navigation a.active,
.dropdown-menu li a:focus, .dropdown-menu a.active {
    -webkit-transition: color .9s, background-color 1s;
    transition: color .9s, background-color 1s;
    outline: 0;
    color: #AB58C2;
    background-color: white;
}

.navbar-navigation li a:active:focus, .navbar-navigation li a:hover:focus, .navbar-navigation a.active:hover,
.dropdown-menu li a:active:focus, .dropdown-menu li a:hover:focus, .dropdown-menu a.active:hover {
    -webkit-transition: color .8s, background-color 1s;
    transition: color .8s, background-color 1s;
    outline: 0;
    color: black;
    background-color: white;
}

.btn-primary:active, 
.open>.dropdown-toggle.btn-primary {
    color: white;
    background-color: #AB58C2;
}

.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    color: #AB58C2;
    background-color: white;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    min-width: 100%;
    height: 76px;
    font-size: 10px;
    color: white;
    background-color: #30113F;
}

.footer-social-links {
    float: right;
    height: inherit;
    margin-right: 30%;
}

.footer-social-links a {
    display: inline-block;
    padding-top: 28px;
    margin-right: 5px;
}

.footer-social-links a img {
    width: 20px;
    height: 20px;
}

/* About page */

.about {
    margin-bottom: 162px;
}

.about-right {
    float: right;
    margin-right: 6%;
}

.about-app-links {
    position: fixed;
    top: 76px;
    width: 338px;
    height: 224px;
    min-width: 224px;
    padding: 32px 0 45px;
    text-align: center;
    color: white;
    background-color: #AB58C2;
    box-shadow: 5px 5px 5px 0px #d0d0d0;
    font-size: 20px;
    line-height: 22px;
}

.about-app-links p {
    margin-bottom: 24px;
}

.link-btn {
    -webkit-transition: color .6s, border 2s;
    transition: color .6s, border 2s;
    width: 54%;
    height: 30px;
    display: block;
    margin: 0 23% 18px 23%;
    border: solid white 2px;
    color: white;
    font-family: fira-sans-light;
}

.link-btn:hover {
    -webkit-transition: color .5s, border .2s;
    transition: color .5s, border .2s;
    color: black;
    border-color: black;
}

.link-btn:focus {
    -webkit-transition: color .7s, border .1s;
    transition: color .7s, border .1s;
    color: white;
    border-color: white;
}

.link-btn:active:focus, .link-btn:hover:focus {
    -webkit-transition: color .2s, border .4s;
    transition: color .2s, border .4s;
    color: black;
    border-color:black;
}

.social {
    text-align: center;
    width: 400px;
    height: 200px;
    padding-top: 10px;
    margin: 248px 0 0 0;
}

.about-right>.social {
    margin-top: -256px;
}

.social h1 {
    font-size: 25px;
    color: #AB58C2;
    text-align: center;
}

.social>.about-social-links {
    margin-top: 40px;
}

.about-social-links a, .contacts-social-links a {
    margin: 0 19px;
}

.about-social-links a img {
    width: 78px;
}

.about-ad {
    margin: 176px 0 0 15%;
    min-width: 527px;
}

.ad-title {
    display: inline-block;
    color: #AB58C2;
    font-size: 25px;
    vertical-align: top;
    font-family: fira-sans-regular;
}

.ad-title:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 1px;
    margin-left: -25px;
    margin-top: 5px;
    border-bottom: 4px solid #AB58C2;
}

.ad-img {
    display: inline-block;
    width: 250px;
    height: 500px;
}

.ad-description {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    height: 500px;
    margin: 0 3% 0 0px;
    font-family: fira-sans-light;
    font-size: 20px;
    text-align: center;
}

.ad-description>.first {
    margin: 80px 0 0 -20px;
}

.ad-description>.second {
    margin: 50px 0 0 -12px;
}

.ad-description>.third {
    margin: 18px 0 0 -25px;
}

.about-ad-mobile {
    display: none;
    width: 60%;
    min-width: 600px;
    margin: 100px 20% 0 20%;
}

.cities {
    margin: 132px 0 95px;
}

.cities h1 {
    margin: 70px 0;
    text-align: center;
    font-family: fira-sans-light;
    font-size: 32px;
}

.cities-map img {
    width: 80%;
    margin: 0 10% 70px 10%;
}

.contacts {
    margin: 150px 0 115px;
    text-align: center;
    min-height: 95%;
    font-size: 20px;
    color: #5E5E5E;
}

.contacts>.title {
    font-family: fira-sans-medium;
    margin: 60px 0 30px;
    font-size: 30px;
    color: #AB58C2;
}

.contacts>.social {
    width: 80%;
    min-width: 380px;
    margin: 0 10% 0 10%;
}

.contacts-social-links {
    padding-left: 15px;
    margin-top: 40px;
}

.contacts-social-links a img {
    width: 78px;
}

.mobile-menu {
    float: right;
    display: none;
}

@media screen and (max-width: 600px) {
    .navbar-header {
        margin-left: 5%;
    }
    
    .navbar-brand-title {
        display: none;
    }
}

@media screen and (max-width: 820px) {
    .mobile-menu {
        display: inline-block;
        min-width: 200px;
    }
    
    .mobile-menu>.menu-toggle {
        display: block;
        float: right;
    }
    
    .collapse ul {
        display: none;
    }
}

@media screen and (max-width: 1120px) {
    
    .about-right {
        width: 100%;
        margin-right: 0;
    }
    
    .about-app-links {
        width: 40%;
        margin: 0 30% 0 30%;
    }
    
    .about-app-links p {
        margin: 0 5% 10px 5%;
    }
    
    .link-btn {
        width: auto;
        margin: 0 20% 10px 20%;
    }
    
    .about-right>.social {
        width: 80%;
        min-width: 380px;
        margin: 0 10% 169px;
    }
    
    .about-ad {
        display: none;
    }
    
    .about-ad-mobile {
        display: block;
        margin-top: 253px;
    }
}

@media screen and (max-width: 1200px) {
    .about-ad {
        margin-top: 400px;
    }
}


.menu-toggle {
    margin: 19px 20px 19px 0;
    background-color: #AB58C2;
    border: none;
}

.menu-toggle img {
    width: 36px;
    height: 36px;
}

.dropdown-menu {
    float: left;
    padding: 45px 30px;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: #AB58C2;
    box-shadow: 5px 5px 5px 0px #d0d0d0;
}

.dropdown-menu li {
    text-transform: none;
    font-size: 16px;
    text-align: center;
    color: white;
}

.dropdown-menu li a {
    color: white;
}