<div class="contacts">
    <h1 class="title">Контакты</h1>
    <div>
        По вопросам сотрудничества и рекламы писать на: marketing@shipontaxi.com<br>
        Связь с технической поддержкой: help@shipontaxi.com<br>
        По остальным вопросам на: info@shipontaxi.com<br>
        Телефон:<br><br>
        +7 755 663 61 54 (Казахстан)
    </div>
    <div class="social">
        <h1>Мы в соц сетях</h1>
        <div class="contacts-social-links">
            <a href=""><img src="assets/vk.svg" /></a>
            <a href=""><img src="assets/facebook.svg" /></a>
            <a href=""><img src="assets/instagram.svg" /></a>
        </div>
    </div>
</div>